* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
}

.topo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.conteudo {
    width: 872px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 1s;
    margin-right:70px;
    margin-left: 70px;
    margin-bottom: 200px;
    
}
.face {
    width: 117px;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
}
 .girar {
    transform: rotateY(180deg);
 }

 .front {
    backface-visibility: hidden;
 }
 .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
 }


.face img {
    width: 100px;
    height: 100px;
}



@media (max-width: 900px) {
    .conteudo {
        width: 100%;
        flex-direction: column;
    }
}